// Big Title Section
// =================
@use "design-system" as *;

#big-title {
  padding: 0 $spacing-sm;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 250px;
  position: relative;
  h1 {
    position: relative;
    @include heading-style(60px, 400);
    width: fit-content;
    .title-content {
      display: inline-block;

      overflow: hidden;
    }
    &:last-child {
      text-align: end;
      align-self: flex-end;
      margin-left: 75px;
      overflow: hidden;
    }
    span:not(.title-content) {
      color: $light-grey;
    }
    .stamp-animation {
      position: absolute;
      bottom: -230px;
      right: -150px;
      z-index: -1;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      @include flex-center;
      .stamp-icon {
        text-anchor: middle;
        dominant-baseline: middle;
        @include heading-style(120px, 400, $primary-color);
      }
      .stamp-svg {
        width: 100%;
        height: 100%;
      }

      .stamp-bg {
        fill: greenyellow;
      }

      .stamp-text {
        @include heading-style(36px, 400, $primary-color);
        text-transform: uppercase;
        letter-spacing: 1.5px;
        animation: spin 25s linear infinite;
        transform-origin: 200px 200px; // centre du SVG
      }
    }
  }
}

@media (min-width: $breakpoint-sm) {
  #big-title {
    gap: 200px;
    h1 {
      @include heading-style(90px, 400);
      &:last-child {
        margin-left: 0px;
      }
      .stamp-animation {
        bottom: -220px;
        right: -250px;
        width: 300px;
        height: 300px;
      }
    }
  }
}

@media (min-width: $breakpoint-md) {
  #big-title {
    padding: 0 $spacing-md;
    h1 {
      @include heading-style(100px, 400);
    }
  }
}

@media (min-width: $breakpoint-lg) {
  #big-title {
    padding: 0 $spacing-lg;
  }
}

@media (min-width: $breakpoint-xl) {
  #big-title {
    padding: 0 $spacing-xl;
    h1 {
      @include heading-style(125px, 400);
    }
  }
}

@media (min-width: $breakpoint-xxl) {
  #big-title {
    h1 {
      @include heading-style(150px, 400);
    }
  }
}

@media (min-width: $breakpoint-xxxl) {
  #big-title {
    padding: 0 $spacing-xl;
    h1 {
      @include heading-style(200px, 400);
      &:last-child {
        align-self: flex-end;
      }
      .stamp-animation {
        bottom: -200px;
        right: -375px;
        width: 400px;
        height: 400px;
        .stamp-icon {
          @include heading-style(120px, 400, $primary-color);
        }
        .stamp-text {
          @include heading-style(36px, 400, $primary-color);
          letter-spacing: 1.5px;
        }
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
